* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.LoginPageAdmin {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: purple;
}

.SuperAdminPage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
}

.login {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 20px;
}

.titreLogin {
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
    top: 10%;
    font-family: sans-serif;
}

.navSuperAdmin {
    position: fixed;
    top: 0;
    left: 0;
    height: 15%;
    width: 100%;
    background: purple;
    display: flex;
    align-items: center;
    z-index: 3;
}

.navSuperAdmin h1 a {
    position: relative;
    color: white;
    text-decoration: none;
    left: 15%;
}

.menuSuperAdmin {
    position: fixed;
    top: 20%;
    left: 1%;
    background: purple;
    width: 15%;
    height: 50%;
    border-radius: 20px;
}

.menuSuperAdmin ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.menuSuperAdmin ul li {
    list-style: none;
}

.menuSuperAdmin ul li a {
    color: white;
    font-size: 200%;
    text-decoration: none;
}

.SuperAdminTable_admin {
    position: absolute;
    top: 20%;
    left: 16.5%;
    width: 75%;
}

.headTAble {
    background: purple;
    color: white;
}

.table {
    color: white;
}

.table tbody tr {
    background: rgba(128, 0, 128, 0.514);
    width: 100%;
}

#logout {
    color: white;
    text-decoration: none;
    position: absolute;
    right: 10%;
    font-size: 30px;
}

#Addproduit {
    position: absolute;
    top: 5vh;
    right: 20vw;
    color: black;
    background: white;
    border-radius: 30px;
    padding: 10px;
    border: 2px solid black;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.imageProduit {
    width: 184px;
    height: 272px;
}

.photos {
    width: 75%;
    height: 80%;
    position: absolute;
    z-index: 222;
    background: rgba(255, 0, 255, 0.842);
    top: 5%;
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: scale(0);
    transition: 0.5s ease;
}

.photo {
    height: 70%;
    width: 20%;
    background: red;
}
.photo img {
    height: 100%;
    width: 100%;
}

#EditEC {
    top: 30px;
    padding-bottom: 30px;
}

.PhotoEdit_EC {
    position: relative;
    transform: scale(1);
    width: 40%;
    height: 30%;
    background: transparent;
}

.filer_admin_EC {
    position: absolute;
    top: 16%;
    left: 30%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Tracking_food {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 70%;
}

.Track_food_tableau {
    top: 50%;
    left: 20%;
}

.usrCOL {
    width: 90%;
}

.couleur1 {
    width: 100%;
    display: flex;
}

.ADD_shop {
    left: 20%;
}

.ADD_shop input,
.ADD_shop textarea {
    border-color: purple;
}

#ORDER {
    top: 25%;
    left: 20%;
}

#categorie {
    position: absolute;
    top: 5vh;
    left: 20vw;
}

#product_list {
    position: absolute;
    top: 20vh;
    left: 20vw;
}

#product_img {
    height: 200px;
    width: 200px;
    margin: 10px;
}
